---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Loving RE, loving pwn, loving anime.",
};

interface Link {
	text: string;
	link: string;
}

const links: Link[] = [
	{
		text: "小高的博客：一个脱离了低级趣味的二进制佬",
		link: "https://www.cnblogs.com/gaoyucan",
	},
	{
		text: "S1ain 的博客：安徽 Web 佬",
		link: "https://gensokyo.cn/",
	},
	{
		text: "Info 富哥的博客：暂时还不清楚以后他要做啥",
		link: "https://blog.i1nfo.com/",
	},
	{
		text: "好人Simon的博客: 好人一生平安",
		link: "blog.polite.cat",
	},
];
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h2 class="title mb-4 text-xl">About</h2>
		<p>
			全民制作人大家好，我是练习 n 年半的二进制安全练习生，喜欢 PWN, RE, 本来以前很喜欢 cxk
			的，现在更喜欢了
		</p>

		<h2 class="title mb-4 text-xl">Links</h2>
		<ul class="list-inside list-disc">
			{
				links.map((link) => (
					<li>
						<a href={link.link}>{link.text}</a>
					</li>
				))
			}
		</ul>
	</div>
</PageLayout>
