---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Loving RE, loving pwn, loving anime.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h2 class="title mb-4 text-xl">About</h2>
		<p>
			全民制作人大家好，我是练习 n 年半的二进制安全练习生，喜欢 PWN, RE, 本来以前很喜欢 cxk
			的，现在更喜欢了
		</p>

		<p>友情链接:</p>
		<ul class="list-inside list-disc">
			<li>XXX</li>
			<li>YYY</li>
			<li>ZZZ</li>
		</ul>
	</div>
</PageLayout>
