---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 15;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const meta = {
	title: "Home",
	description: "A simple blog about PWN and RE",
};
---

<PageLayout meta={meta}>
	<!-- posts list -->
	<section aria-label="Blog post list" class="basis-3/4">
		<h2 class="title mb-4 text-xl">Recent posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
