---
import type { CollectionEntry } from "astro:content";

import BaseLayout from "./Base.astro";
import BlogHero from "@/components/blog/Hero";

interface Props {
	post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
	data: { title, description, ogImage, publishDate },
	slug,
} = post;
const socialImage = ogImage ?? `/og-image/${slug}.png`;
const articleDate = publishDate.toISOString();
// const { headings } = await post.render();
---

<script>
	const scrollBtn = document.getElementById("to-top-btn") as HTMLButtonElement;
	const targetHeader = document.getElementById("blog-hero") as HTMLDivElement;

	function callback(entries: IntersectionObserverEntry[]) {
		entries.forEach((entry) => {
			// only show the scroll to top button when the heading is out of view
			scrollBtn.dataset.show = (!entry.isIntersecting).toString();
		});
	}

	scrollBtn.addEventListener("click", () => {
		document.documentElement.scrollTo({ top: 0, behavior: "smooth" });
	});

	const observer = new IntersectionObserver(callback);
	observer.observe(targetHeader);

	// inject copy button into code blocks
	const copyButtonLabel = "Copy Code";
	document.querySelectorAll("pre").forEach((block) => {
		if (navigator.clipboard) {
			let button = document.createElement("button");
			block.appendChild(button);

			button.innerText = copyButtonLabel;
			button.className = "absolute top-2 left-3 border-dashed border rounded p-1 bg-transparent";
			button.addEventListener("click", async () => {
				let code = block.querySelector("code");
				let text = code != null ? code.innerText : "";
				await navigator.clipboard.writeText(text);

				// copy response
				button.innerText = "Code Copied";
				setTimeout(() => {
					button.innerText = copyButtonLabel;
				}, 700);
			});
		}
	});
</script>

<BaseLayout meta={{ title, description, articleDate, ogImage: socialImage }}>
	<!-- page content container -->
	<article class="break-words">
		<div id="blog-hero" class="md:text-center"><BlogHero content={post} /></div>
		<!-- add max-w-none to maximization typography width -->
		<div
			class="prose prose-sm prose-cactus mt-12 max-w-none prose-headings:font-semibold prose-headings:before:absolute prose-headings:before:-ml-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-pre:relative prose-pre:pt-12 prose-th:before:content-none prose-img:mx-auto prose-img:md:w-4/5 prose-img:lg:w-2/3"
		>
			<slot />
		</div>
	</article>
	<button
		id="to-top-btn"
		class="z-90 fixed bottom-8 right-4 flex h-10 w-10 translate-y-28 items-center justify-center rounded-full border-2 border-transparent bg-zinc-200 text-3xl opacity-0 transition-all duration-300 hover:border-zinc-400 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 dark:bg-zinc-700 sm:right-8 sm:h-12 sm:w-12"
		aria-label="Back to Top"
		data-show="false"
		><svg
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
			focusable="false"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			class="h-6 w-6"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
		</svg>
	</button>
</BaseLayout>
